body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
    max-width: 600px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #212529;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    color: #212529;
}

form input[type="email"],
form input[type="text"],
form textarea {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    color: #212529;
    resize: none;
}

form input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    background-color: #f3f3f3;
    color: #212529;
    width: 100%;
    margin-bottom: 20px;
}

form button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #0069d9;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#header form {
    margin: 0;
}

#header input[type="submit"] {
    background-color: #28a745;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#header input[type="submit"]:hover {
    background-color: #218838;
}
